<h1>Lista de Produtos </h1>

<%=  link_to 'Cadastrar Produto', new_product_model_path %>

<% if @product_models.any?%>
  <% @product_models.each do |pm| %> 
    <div>
      <h2> <%= pm.name %> </h2>
      <dl>
      <dt>Modelo:</dt>
      <dd><%= pm.sku  %></dd>
      <dt>Fornecedor:</dt>
      <dd><%= pm.supplier.brand_name %></dd>
      </dl>
    </div>
  <% end%>
<% else %>
  <p>Não existem produtos cadastrados.</p>
<% end %>

